.class {
  cursor: pointer;
  width: 40vw;
  min-width: 40rem;
  min-height: 8rem;
  border-radius: 1rem;
  box-shadow: 0.8rem 1rem 2rem rgba(black, 0.1);
  background-color: $--white-color-1;

  display: flex;
  justify-content: space-between;

  &__left_item {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    &--container {
      height: 100%;
      border-radius: 1rem 0 0 1rem;
      background-color: $--btn-color;
      padding: 0 1.2rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--title {
      cursor: default;
      max-width: 20vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--input {
      padding: 1rem;
      background-color: $--white-color;
    }

    &--count {
      cursor: default;
      width: 5rem;
      height: 5rem;
      background-color: $--white-color;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__right_item {
    width: auto;
    height: 100%;
    padding: 0 rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 2rem;

    &--icon {
      cursor: pointer;
      padding: 1rem;
    }
  }
}
