.btn {
  background-color: $--btn-color;
  padding: 1.2rem;
  border-radius: 0.4rem;
  box-shadow: 0.6rem 0.8rem 2rem rgba(black, 0.2);
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.18rem) scale(1.03);
    outline: 4px solid white;
    outline-offset: 0.2rem;
  }

  &:active {
    transform: translateY(-0.05rem);
    outline: none;
  }

  &.hidden {
    display: none;
  }

  &--form {
    &:hover {
      outline: 4px solid $--primary-color !important;
      outline-offset: 0.2rem;
    }

    &:active {
      outline: none !important;
    }
  }

  &__main {
    &-flip {
      padding: 0.5rem 2rem !important;
      outline: none !important;
    }
  }
}
