@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import "../fonts/icons/Font-awesome/css/all.css";
*,
*::before,
*::after {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.7;
  color: #f8f8f8;
}

.header__title {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Macondo", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #f8f8f8;
}
.header__title span {
  font-style: normal;
}
.header__btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #f8f8f8;
}

.class__left_item--count-val {
  color: #fabe0d;
  font-size: 2.5rem;
  font-family: "Macondo", Tahoma, Geneva, Verdana, sans-serif;
}
.class__left_item--title {
  color: #444;
}
.class__left_item--input {
  font-size: 1.6rem;
}
.class__right_item--icon {
  font-size: 2rem;
  color: #444;
}

.class_form {
  color: #444;
}
.class_form__title {
  font-size: 2.5rem;
  color: #f8f8f8;
}
.class_form__input {
  font-size: 1.8rem;
}

.flashcard {
  font-size: 1.6rem;
}
.flashcard__overview {
  font-weight: 600;
}
.flashcard__overview--total {
  font-size: 2rem;
}
.flashcard__btn {
  font-size: 6rem;
  line-height: 1;
}

.card {
  font-size: 1.6rem;
  color: #444;
}
.card__main--header-title {
  font-weight: 600;
}

.btn--form {
  font-size: 2rem;
  font-weight: 600;
  color: #f8f8f8;
}
.btn__card--header {
  font-size: 1.8rem;
}
.btn__main-speaker {
  font-size: 2.5rem;
}
.btn__main-flip {
  font-size: 2rem;
  font-weight: 600;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, #2d8ccb, #6dd5fa, #9bbac5);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
}

@keyframes zoomOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes flipToLeft {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@keyframes flipToLeft {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0);
  }
}
.btn {
  background-color: #fabe0d;
  padding: 1.2rem;
  border-radius: 0.4rem;
  box-shadow: 0.6rem 0.8rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-0.18rem) scale(1.03);
  outline: 4px solid white;
  outline-offset: 0.2rem;
}
.btn:active {
  transform: translateY(-0.05rem);
  outline: none;
}
.btn.hidden {
  display: none;
}
.btn--form:hover {
  outline: 4px solid #6dd5fa !important;
  outline-offset: 0.2rem;
}
.btn--form:active {
  outline: none !important;
}
.btn__main-flip {
  padding: 0.5rem 2rem !important;
  outline: none !important;
}

.class {
  cursor: pointer;
  width: 40vw;
  min-width: 40rem;
  min-height: 8rem;
  border-radius: 1rem;
  box-shadow: 0.8rem 1rem 2rem rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
}
.class__left_item {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.class__left_item--container {
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  background-color: #fabe0d;
  padding: 0 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class__left_item--title {
  cursor: default;
  max-width: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.class__left_item--input {
  padding: 1rem;
  background-color: #fff;
}
.class__left_item--count {
  cursor: default;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class__right_item {
  width: auto;
  height: 100%;
  padding: 0 rem;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class__right_item--icon {
  cursor: pointer;
  padding: 2rem;
  margin-right: 0.5rem;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.card__main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  height: 90%;
  width: 70%;
  border-radius: 2rem;
  padding: 2.5rem;
  transition: all 1s ease;
  backface-visibility: hidden;
  perspective: 9999;
}
.card__main--empty {
  justify-content: center !important;
}
.card__main-text {
  max-width: 80%;
  max-height: 40vh;
  overflow-y: auto;
}
.card__main--back {
  position: absolute;
  transform: rotateY(180deg);
}
.card__main--back.flipped {
  transform: rotateY(0deg);
}
.card__main--front.flipped {
  transform: rotateY(180deg);
}
.card__main--btn-speaker {
  cursor: pointer;
  position: absolute;
  right: 8%;
  top: 12%;
}
.card__main--header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
  border-bottom: 0.14rem solid rgba(0, 0, 0, 0.8);
}
.card__main--header-btn {
  cursor: pointer;
  display: flex;
  gap: 4rem;
}
.card__main--context {
  overflow-y: auto;
  max-width: 90%;
  max-height: 70%;
}
.card__main--context-input {
  width: 90%;
  height: 70%;
  background-color: #f8f8f8;
  padding: 1rem;
  resize: none;
  outline: none;
}

.class_form {
  position: absolute;
  width: 40vw;
  min-width: 40rem;
  background-color: #fff;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 1rem;
  background-image: linear-gradient(to bottom right, #6dd5fa, #9bbac5);
}
.class_form__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 899;
}
.class_form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}
.class_form__container--btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.class_form__input {
  width: 90%;
  height: 2rem;
  border-radius: 2.5rem;
  padding: 2rem;
  background-color: #f8f8f8;
  outline: none;
}

.header {
  padding: 2rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  cursor: default;
}

.class__main {
  width: 100vw;
  height: 80vh;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  gap: 2rem;
}

.flashcard {
  width: 60%;
  height: 80vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
}
.flashcard__content {
  width: 60vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.flashcard__overview {
  width: 95%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}
.flashcard__btn {
  cursor: pointer;
  padding: 1rem;
}/*# sourceMappingURL=main.css.map */