*,
*::before,
*::after {
  text-decoration: none;
}

html {
  font-size: 62.5%; // 10px
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.7;
  color: $--font-color-light;
}

.header {
  &__title {
    font-size: 4rem;
    font-weight: 600;
    font-family: $--header-font;
    font-style: italic;
    color: $--font-color-light;

    & span {
      font-style: normal;
    }
  }

  &__btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $--font-color-light;
  }
}

.class {
  &__left_item {
    &--count-val {
      color: $--btn-color;
      font-size: 2.5rem;
      font-family: $--header-font;
    }
    &--title {
      color: $--font-color-dark;
    }
    &--input {
      font-size: 1.6rem;
    }
  }
  &__right_item {
    &--icon {
      font-size: 1.6rem;
      color: $--font-color-dark;
    }
  }
}

.class_form {
  color: $--font-color-dark;

  &__title {
    font-size: 2.5rem;
    color: $--font-color-light;
  }

  &__input {
    font-size: 1.8rem;
  }
}

.flashcard {
  font-size: 1.6rem;

  &__overview {
    font-weight: 600;
    &--total {
      font-size: 2rem;
    }
  }

  &__btn {
    font-size: 6rem;
    line-height: 1;
  }
}
.card {
  font-size: 1.6rem;
  color: $--font-color-dark;
  &__main {
    &--header-title {
      font-weight: 600;
    }
  }
}

.btn {
  &--form {
    font-size: 2rem;
    font-weight: 600;
    color: $--font-color-light;
  }

  &__card--header {
    font-size: 1.8rem;
  }

  &__main {
    &-speaker {
      font-size: 2.5rem;
    }
    &-flip {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
