*,
*::before,
*::after {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.7;
  color: $--font-color-light;
}

.header {
  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Macondo", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;

    & span {
      font-style: normal;
    }
  }

  &__btn {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.class__left_item--count-val {
  color: $--btn-color;
  font-size: 2.5rem;
}
