// BASE COLOR
$--primary-color: #6dd5fa;
$--secondary-color: #2d8ccb;
$--tertiary-color: #9bbac5;
$--btn-color: #fabe0d;

// FONT COLOR
$--font-color-light: #f8f8f8;
$--font-color-dark: #444;

// DEFAULT COLOR
$--white-color: #fff;
$--black-color: #000;
